* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100vh;
}

.webgl {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100vw;
	height: 100vh;
}

#loader {
	display: visible;
	font-size: 1.5rem;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.loader_disabled {
	display: none;
}

.lds-ripple div {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: 4px solid #fff;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
}
@keyframes lds-ripple {
	0% {
		width: 5rem;
		height: 5rem;
		opacity: 0.5;
	}
	100% {
		width: 20rem;
		height: 20rem;
		opacity: 0;
	}
}
